.header {
    display: grid;
    grid-template-columns: minmax(150px, 15%) 1fr;
    padding: 0;
    margin: 0;
    font-family: system-ui, serif;
  }
  
  .sidebar {
    height: 100vh;
    background: white;
    /* font-size: 2rem; */
    text-align: center;
  }
  
  .content {
    padding: 2rem;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: rgb(245, 236, 240);

  }
#carouselExampleDark {
    margin-top: -32px;
    margin-right: -32px;
    margin-left: -32px;

}
  .carousel-indicators{
    visibility: hidden;
  }
  .carousel-arrow {
      visibility: visible;
  }
 .red-arrow {
     margin-right: 20px;
     background-color: gold;
     padding:15px;
     border-radius: 50%;
     width: 50px;
     height: 50px; 
    }
    .yellow-arrow {
        margin-left: 20px;
        background-color: white;
        padding:15px;
        border-radius: 50%;
        width: 50px;
        height: 50px;  
    }
.nav-link a{
    text-decoration: none;
}
.nav-link ul a li{
    list-style-type: none;
    color: gray;
    padding: 8px;
}
.admin-link a{
    background-color: #f01f28;
    text-decoration: none;
    color: white;
    padding:10px;
}
.imp {
    background-color: gold;
    color: black;
     padding-top:4px;
     padding-left:15px;
     padding-right:15px;
     padding-bottom:4px;
     border-radius: 15px;
}
.slide-content {
    color: white !important;
}
.right-card {
    display:flex;
}
